.card-home{
  margin-left: 56px;
  margin-top: -50px;
}

.text-center{
  text-align: justify;
  font-size: 20px;
  padding-top: 90px;
}

#section-monitore-dados{
  margin-top: 150px;
}

#section-valide-dados{
  margin-top: 150px;
}
