.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1{
  text-align: center;
  margin-top: 20px;
  font-size: 42px;
  color: #071013;
}

li{
  margin-top: 275px;
  margin-right: 10px;
}

body{
  color: black;
}

.colorNav{
  background-color: ##f7f8f8;
}

.menu-principal li a{
  color: #EFEFD0;
  margin-left: 15px;
  font-size: 14px;
}

.navbar{
  width: 100%;
  height: 525px;
  background-image: url('/assets/images/wave-hero-background.svg');
  margin-top: -374px;
  background-repeat: no-repeat;
}

.margin-top-navbar{
  margin-top: 275px;
  color: #EFEFD0;
}
